body, html {
    height: 100%;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    background: url(/static/images/page_decoration/plainbg.png) no-repeat center fixed;
    -webkit-background-size: inherit; /* For WebKit*/
    -moz-background-size: inherit; /* Mozilla*/
    -o-background-size: inherit; /* Opera*/
    background-size: inherit;
    /*margin-top: 60px;*/
}

#app {
    padding-top: 0px;
}

.hid {
    visibility: hidden;
}

.shop-card {
    max-width: 80%;
    background-color: rgb(169, 171, 171);
    border: #1b1e21 solid thick;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .9;
}

.shop-card:hover {
    opacity: 1;
}

@media only screen and (min-width: 1100px) {
    body {
        height: 100%;
        width: 100%;
        /*background-color: #ddd777;*/
        background: url(/static/images/page_decoration/bg.png) no-repeat center fixed;
        -webkit-background-size: inherit; /* For WebKit*/
        -moz-background-size: inherit; /* Mozilla*/
        -o-background-size: inherit; /* Opera*/
        background-size: inherit;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        padding: 0;
    }
}