<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/page_decoration/logo-white-y.png" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "pages/lib/css/bootstrap.min.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "pages/lib/css/bootstrap-vue.min.css" %}"/>

    <script src="{% static "pages/lib/js/vue.min.js" %}"></script>
    <script src="{% static "pages/lib/js/bootstrap-vue.min.js" %}"></script>
    <script src="{% static "pages/lib/js/axios.min.js" %}"></script>
</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>