<!DOCTYPE html>
{% extends "customer/base.html" %}

{% load static %}

{% block title %}
    <title>
        Tempo Vola | ثبت سفارش
    </title>
    <link rel="stylesheet" href="{% static "pages/checkout/checkout.css" %}">
{% endblock %}

{% block content %}
    <div id="app" class="hid">
        <b-toast id="req" title="درخواست ناموفق" variant="danger" auto-hide-delay="3000">
            [[ req_msg ]]
        </b-toast>

         <b-container fluid>
            <b-row>
              <b-col>
                <b-img src="{% static "images/page_decoration/logo-white.png" %}" center width="150"></b-img>
              </b-col>
            </b-row>
         </b-container>

        <b-container class="mt-5 col-sm-10" style="text-align: right; background-color: white;">
            <b-row class="p-2 pt-4">
                <b-col class="ml-auto col-sm-3">
                     [[ seller ]]
                </b-col>
                <b-col  style="max-width: 100px">
                    <strong>
                        :فروشنده
                    </strong>
                </b-col>
            </b-row>
            <b-row class="p-2 pt-4">
                <b-col  class="ml-auto col-sm-3 ">
                    [[ order_data.order_id ]]
                </b-col>
                <b-col style="max-width: 115px">
                    <strong>
                        :کدسفارش
                    </strong>
                </b-col>
            </b-row>
            <hr style="height:3px;border:none;color:#555;background-color:#555;">
            <b-row class="p-2">
                <b-col  class="ml-auto col-sm-3">
                    [[ order_data.name ]]
                </b-col>
                <b-col style="max-width: 95px">
                    <strong>
                        :خریدار
                    </strong>
                </b-col>
            </b-row>
            <hr style="height:3px;border:none;color:#555;background-color:#555;">
            <div class="m-auto">
        <b-table striped hover responsive :fields="fields" :items="items" style="text-align: left; background-color: white">

            <template slot="شماره" slot-scope="data">
                [[ data.index + 1 ]]
            </template>

            <template slot="سری" slot-scope="data">
                [[ data.item.series ]]
            </template>

            <template slot="ملودی" slot-scope="data">
                [[ data.item.melody_name ]]
            </template>

            <template slot="فی" slot-scope="data">
                [[ data.item.price ]]
            </template>

            <template slot="تعداد" slot-scope="data">
                [[ data.item.count ]]
            </template>

            <template slot="قیمت" slot-scope="data">
                [[ data.item.count * data.item.price ]]
            </template>

            <template slot="تصحیح" slot-scope="data">
                <b-button variant="danger" @click="edit(data.item.series)">تصحیح</b-button>
            </template>
        </b-table>
            </div>
            <hr style="height:3px;border:none;color:#555;background-color:#555;">
            <b-row class="p-3">
                <b-col class="col-sm-2">
                    <b-button variant="success" block @click="checkout_order">
                        ثبت نهایی
                    </b-button>
                </b-col>
                <b-col class="col-sm-2 mr-auto">
                    <b-button variant="danger" block @click="edit">
                        تصحیح
                    </b-button>
                </b-col>
                <b-col class="col-sm-2 ml-auto">
                    <strong style="text-align: right;">
                        قیمت کل: [[total_cost]]  ریال
                    </strong>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row class="mt-5" v-for="i in 2"></b-row>
        </b-container>


    </div>

    <script src="{% static "pages/checkout/checkout.js" %}"></script>
{% endblock %}