<!DOCTYPE html>
{% extends "customer/base.html" %}

{% load static %}

{% block title %}
    <title>Tempo Vola | ورود</title>
    <link type="text/css" rel="stylesheet" href="{% static "pages/login/login.css" %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

{% endblock %}

{% block content %}
<div id="app">

        <b-toast id="req" :title="alert_header" auto-hide-delay="3000">
             [[ alert_msg ]]
        </b-toast>
        <b-container fluid>
            <b-row>
              <b-col>
                <b-img src="{% static "images/page_decoration/logo-white.png" %}" center width="150"></b-img>
              </b-col>
            </b-row>

            <b-row v-for="i in 2" :key="i" class="m-sm-2 m-lg-4"></b-row>

            <b-row class="form-row m-3 mt-4">
                <div class="col-md-4 col-lg-3 offset-md-7 offset-lg-8">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text class="bg-white"><i class="fa fa-user"></i></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input :type="username_type"
                                  :state="login_state"
                                  v-model="username"
                                  aria-describedby="user_feedback"
                                  placeholder="email or phone number"
                    ></b-form-input>

            <b-form-invalid-feedback class="offset-3 offset-sm-3 offset-lg-0 pull-right" id="user_feedback">
              <strong style="text-align: right!important; float: right">
              [[ user_msg ]]
              </strong>
            </b-form-invalid-feedback>
                  </b-input-group>
                </div>
            </b-row>

            <b-row class="form-row m-3 mt-4">
                <div class="col-md-4 col-lg-3 offset-md-7 offset-lg-8 ">
                  <b-input-group>
                    <b-input-group-prepend>
                      <b-input-group-text class="bg-white"><i class="fa fa-lock "></i></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input type="password"
                                  v-model="password"
                                  :state="pass_state"
                                  placeholder="password"
                                  aria-describedby="pass_feedback"
                    ></b-form-input>
                    <b-form-invalid-feedback class="offset-3 offset-sm-3 offset-lg-0 pull-right" id="pass_feedback">
                      <strong style="text-align: right!important; float: right">
                      [[ pass_msg ]]
                      </strong>
                    </b-form-invalid-feedback>

                  </b-input-group>
                </div>
            </b-row>
            <b-row class="m-3">
              <div class="col-sm-6 offset-sm-3 col-md-2 offset-md-8 col-lg-1 offset-lg-9">
                <b-button block :variant="isValid" class="rounded" @click="login">
                  <strong>ورود</strong>
                </b-button>
              </div>
            </b-row>

            <b-row v-for="i in 4" :key="i" class="m-sm-1 m-lg-4"></b-row>

{#            <b-row class="align-items-end mt-5" style="bottom: 0px">#}
{#              <b-alert :show="countDown"#}
{#                       dismissible#}
{#                       @dismissed="countDown=0"#}
{#                       @dismiss-count-down="countdown_change"#}
{#                       :variant="login_result"#}
{#                       class="col-sm-8 offset-sm-2 col-lg-4 offset-lg-4 float-right"#}
{#                       v-if="login_failed"#}
{#                       style="text-align: right">#}
{#                <h4 class="alert-heading">[[ alert_header ]]</h4>#}
{#                <hr>#}
{#                [[ alert_msg ]]#}
{#              </b-alert>#}
{#            </b-row>#}

          </b-container>
    </div>

<script src="{% static "pages/login/login.js" %}"></script>
{% endblock %}