{% extends "customer/base.html" %}

{% load static %}

{% block title %}
    <title>
    Tempo Vola | سفارشات
    </title>
    <link rel="stylesheet" href="{% static "pages/admin/order_list.css" %}">
{% endblock %}

{% block content %}
    <div id="app">
    <b-navbar toggleable="md" type="dark" variant="dark" sticky style="opacity: .97">
            <b-navbar-brand href="#">
             <b-img src="{% static "images/page_decoration/logo-white.png" %}" width="30"></b-img>
                Tempo Vola
            </b-navbar-brand>

            <b-navbar-toggle target="navbar-collapse"></b-navbar-toggle>

            <b-collapse id="navbar-collapse" is-nav style="text-align: right">
                <b-navbar-nav class="ml-auto">
                    <b-nav-item @click="returnToPanel">بازگشت به پنل</b-nav-item>
                    <b-nav-item>
                        {{ name }}
                    </b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <b-toast id="req" title="درخواست ناموفق" auto-hide-delay="3000">
            [[ req_msg ]]
        </b-toast>

        <b-container fluid>
            <b-row>
              <b-col>
                <b-img src="{% static "images/page_decoration/logo-white.png" %}" center width="150"></b-img>
              </b-col>
            </b-row>

            <div class="m-auto">
                <b-table striped hover responsive :fields="fields" :items="items" style="text-align: left; background-color: white">

                    <template slot="ردیف" slot-scope="data">
                        [[ data.index + 1 ]]
                    </template>

                    <template slot="سری" slot-scope="data">
                        [[ data.item.series ]]
                    </template>

                    <template slot="ملودی" slot-scope="data">
                        [[ data.item.melody_name ]]
                    </template>

                    <template slot="فی" slot-scope="data">
                        [[ data.item.price ]]
                    </template>

                    <template slot="تعداد" slot-scope="data">
                        [[ data.item.count ]]
                    </template>

                    <template slot="قیمت" slot-scope="data">
                        [[ data.item.count * data.item.price ]]
                    </template>
                </b-table>
            </div>
        </b-container>
    </div>
    
    <script src="{% static "pages/admin/order_list.js" %}"></script>
{% endblock %}

