{% extends "customer/base.html" %}

{% load static %}

{% block title %}
    <title>
        Tempo Vola | سفارشات
    </title>
    <link rel="stylesheet" href="{% static "pages/admin/order_manage/order_list.css" %}">
{% endblock %}

{% block content %}
    <div id="app">
        <b-navbar toggleable="md" type="dark" variant="dark" sticky style="opacity: .97">
            <b-navbar-brand href="#">
                <b-img src="{% static "images/page_decoration/logo-white.png" %}" width="30"></b-img>
                Tempo Vola
            </b-navbar-brand>

            <b-navbar-toggle target="navbar-collapse"></b-navbar-toggle>

            <b-collapse id="navbar-collapse" is-nav style="text-align: right; float: right">
                <b-navbar-nav class="ml-auto">
                    <b-nav-item @click="returnToPanel">بازگشت به پنل</b-nav-item>
                    <b-nav-item>
                        {{ name }}
                    </b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <b-toast id="req" title="نتیجه" auto-hide-delay="3000">
            [[ req_msg ]]
        </b-toast>

        <b-container fluid>
            <b-row>
                <b-col>
                    <b-img src="{% static "images/page_decoration/logo-white.png" %}" center width="150"></b-img>
                </b-col>
            </b-row>

            <b-row class="mb-3 p-3">
                <b-col class="signUp col-sm-9 m-auto p-3">
                    <b-button variant="primary" class="m-auto col-sm-4" @click="search_orders" block>جستجو</b-button>
                    <b-form-input class="col-sm-5 mr-auto ml-auto mb-2 mt-3"
                                  style="text-align: right; display: inline;"
                                  id="order_id"
                                  placeholder="کد سفارش"
                                  v-model="filter.order_id"
                                  type="input">
                    </b-form-input>
                    <b-form-input class="col-sm-5 ml-auto mr-auto mb-2 mt-3"
                                  style="text-align: right; display: inline; "
                                  id="customer_id"
                                  placeholder="ایمیل مشتری"
                                  v-model="filter.customer_id"
                                  type="input">
                    </b-form-input>

                    <b-form-checkbox-group
                            class="m-2 mb-1"
                            v-model="filter.state_checks"
                            :options="state_options"
                    >
                    </b-form-checkbox-group>
                </b-col>
            </b-row>
            <div class="m-auto">
                <b-table striped hover responsive
                         :fields="fields" :items="orders"
                         id="main-table"
                         :per-page="mainTablePerPage"
                         :current-page="currentPage"
                         style="text-align: left; background-color: white">

                    <template slot="ردیف" slot-scope="data">
                        [[ data.index + 1 ]]
                    </template>

                    <template slot="کد سفارش" slot-scope="data">
                        [[ data.item.order_id ]]
                    </template>

                    <template slot="هزینه سفارش" slot-scope="data">
                        [[ data.item.cost ]]
                    </template>

                    <template slot="نام خریدار" slot-scope="data">
                        [[ data.item.customer.company_name ]]
                    </template>

                    <template slot="آدرس ارسال" slot-scope="data">
                        [[ data.item.customer.address ]]
                    </template>

                    <template slot="تاریخ سفارش" slot-scope="data">
                        [[ data.item.created_date ]]
                    </template>

                    <template slot="وضعیت" slot-scope="data">
                        <img v-if="!data.item.orderAdmin_confirmed"
                             src="{% static "images/page_decoration/cancel.svg" %}"/>
                        <img v-if="data.item.orderAdmin_confirmed"
                             src="{% static "images/page_decoration/check.svg" %}"/>
                        {#                        [[ boolean_converter(data.item.orderAdmin_confirmed) ]]#}
                    </template>

                    <template slot="مشاهده" slot-scope="data">
                        <b-button variant="primary" @click="see_order(data.index)">مشاهده</b-button>
                    </template>
                </b-table>

                <b-row class="mt-4 mb-3">
                    <b-pagination
                            class="m-auto"
                            v-model="currentPage"
                            :total-rows="table_rows"
                            :per-page="mainTablePerPage"
                            aria-controls="main-table">
                    </b-pagination>
                </b-row>

            </div>

            <b-modal id="order_manager" size="xl" scrollable hide-footer title="order" style="text-align: right">
                <b-table striped hover responsive :fields="order_fields" :items="order_items"
                         style="text-align: left; background-color: white">

                    <template slot="ردیف" slot-scope="data">
                        [[ data.index + 1 ]]
                    </template>

                    <template slot="ملودی" slot-scope="data">
                        [[ data.item.melody_name ]]
                    </template>

                    <template slot="کد ملودی" slot-scope="data">
                        [[ data.item.order_id ]]
                    </template>

                    <template slot="هزینه" slot-scope="data">
                        [[ data.item.price ]]
                    </template>

                    <template slot="تعداد سفارش شده" slot-scope="data">
                        [[ data.item.ordered_count ]]
                    </template>

                    <template slot="تعداد مورد تایید" slot-scope="data">
                        <b-form-input type="number" class="col-2" style="min-width: 100px"
                                      v-model:value="data.item.order_admin_verified_count"></b-form-input>
                        {#                        [[ data.item.order_admin_verified_count ]]#}
                    </template>

                </b-table>
                <b-button class="col-lg-2 col-sm-4 ml-auto mr-auto mt-2" variant="success" @click="verify_order">تایید و
                    ثبت سفارش
                </b-button>
                <b-button class="col-sm-2 ml-auto mr-auto mt-2" @click="$bvModal.hide('order_manager')">بستن</b-button>
            </b-modal>
        </b-container>
    </div>

    <script src="{% static "pages/admin/order_manage/search_orders.js" %}"></script>
{% endblock %}

